<!DOCTYPE html>
<html>
<head>
<title>Inventory App</title>
</head>
<body>
<h1>Welcome to Safwan's Inventory App</h1>
<h3>Add items <a href="/data/create">Add now </a> </h3>
<h3>View item <a href="/data/view_id">View ID </a> </h3>
<h3>Update items <a href="/data/get_update_id">Update ID </a> </h3>
<h3>Delete items <a href="/data/get_delete_id">Delete ID </a> </h3>
<h3>View all items <a href="/data">View all items </a> </h3>
<h3>Export CSV <a href="/data/getcsv">Click me</a> </h3> 
</body>
</html>